version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4
parameters:
  run-auto-workflows:
    description: >
      Boolean that controls when an workflow would run.

      It is used to gate which workflows should run when github events occur.

      This parameter is used by automation to determine if a workflow will run
      within a pipeline.
    default: true
    type: boolean
  run-just-nuts:
    description: >
      Boolean that controls when the just-nuts will run.

      Default value is false and this parameter is used by automation to
      determine if

      the just-nuts workflow will run.
    default: false
    type: boolean
  sfdx_version:
    description: |
      By default, the latest version of the standalone CLI will be installed.
      To install via npm, supply a version tag such as "latest" or "6".
    default: ''
    type: string
  repo_tag:
    description: "The tag of the module repo to checkout, '' defaults to branch/PR"
    default: ''
    type: string
  npm_module_name:
    description: 'The fully qualified npm module name, i.e. @salesforce/plugins-data'
    default: ''
    type: string
workflows:
  version: 2
  test-and-release:
    when: << pipeline.parameters.run-auto-workflows >>
    jobs:
      - release-management/test-nut:
          sfdx_version: latest
          node_version: lts
          size: medium
          matrix:
            parameters:
              os:
                - linux
                # - windows
              command:
                - 'yarn test:nuts:deploy:async'
