version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4
parameters:
  sfdx_version:
    description: |
      By default, the latest version of the standalone CLI will be installed.
      To install via npm, supply a version tag such as "latest" or "6".
    default: ''
    type: string
  repo_tag:
    description: "The tag of the module repo to checkout, '' defaults to branch/PR"
    default: ''
    type: string
  npm_module_name:
    description: 'The fully qualified npm module name, i.e. @salesforce/plugins-data'
    default: ''
    type: string
  workflow:
    description: |
      String that controls which workflow would run.

      This parameter is used by automation to determine if a workflow will run
      within a pipeline.
    type: string
    default: 'test-and-release'
workflows:
  version: 2
  test-and-release:
    when:
      equal: [test-and-release, << pipeline.parameters.workflow >>]
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: main
      - release-management/test-package:
          matrix:
            parameters:
              os:
                - linux
                - windows
              node_version:
                # - latest
                - lts
                - maintenance
            exclude:
              - os: windows
                node_version: maintenance
      - release-management/test-nut:
          context: na40-auth-url
          sfdx_version: latest
          node_version: lts
          size: large
          requires:
            - release-management/test-package
          matrix:
            parameters:
              os:
                - linux
                - windows
              command:
                - 'yarn test:nuts:convert'
                - 'yarn test:nuts:commands:other'
                - 'yarn test:nuts:delete'
                - 'yarn test:nuts:deploy'
                - 'yarn test:nuts:deploy:async'
                - 'yarn test:nuts:deploy:rest'
                - 'yarn test:nuts:manifest:create'
                - 'yarn test:nuts:retrieve'
                - 'yarn test:nuts:specialTypes'
                - 'yarn test:nuts:deploy:destructive'
                - 'yarn test:nuts:tracking'
                - 'yarn test:nuts:mdapi'
      - release-management/release-package:
          sign: true
          github-release: true
          requires:
            - release-management/test-package
          filters:
            branches:
              only: main
          context:
            - CLI_CTC
            - AWS
            - release
  test-ts-update:
    when:
      equal: [test-ts-update, << pipeline.parameters.workflow >>]
    jobs:
      - release-management/test-ts-update
  just-nuts:
    when:
      equal: [just-nuts, << pipeline.parameters.workflow >>]
    jobs:
      - release-management/test-nut:
          name: just-nuts-<< matrix.os >>
          sfdx_version: << pipeline.parameters.sfdx_version >>
          sfdx_executable_path: sfdx
          repo_tag: << pipeline.parameters.repo_tag >>
          matrix:
            parameters:
              os:
                - linux
                - windows
          npm_module_name: << pipeline.parameters.npm_module_name >>
          context: na40-auth-url
  dependabot-automerge:
    when:
      equal: [dependabot-automerge, << pipeline.parameters.workflow >>]
    jobs:
      - release-management/dependabot-automerge:
          merge-method: squash
          context: release
